// Конфигурации

// Переменные
$accent-yellow: #f5dd0e;
$accent-orange: #c9770d;
$accent-red: #d41a21;

$primary-color: #f3f4f6;
$secondary-color: #aaa;
$promotion-label-color: #b5580d;

$shadow: 0px 0px 20px 0px rgb(206, 206, 206);
$shadow-light: 0px 0px 10px 0px rgba(206, 206, 206, .5);

$font-14: 0.875rem;
$font-16: 1rem;
$font-18: 1.125rem;
$font-20: 1.25rem;
$font-25: 1.562rem;
$font-30: 1.875rem;

$opensans-light: OpenSans-Light;
$opensans-regular: OpenSans-Regular;
$opensans-bold: OpenSans-Bold;

$round: 50px;

%flexCenterXY {
  display: flex;
  justify-content: center;
  align-items: center
}

%date {
  font-size: $font-14;
  color: #b1b1b1;
}

:root {
  font-size: 16px;
  font-family: $opensans-regular;
  line-height: 1.5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::placeholder {
  color: $secondary-color;
}



// Эффект появление с затуханием
// @keyframes fadeEffect {
//   from {
//     opacity: 0;
//   }

//   to {
//     opacity: 1;
//   }
// }

// Медиа запросы

@mixin mediaXs {
  @media screen and (min-width: 480px) {
    @content;
  }
}

@mixin mediaXsAdditional {
  @media screen and (min-width: 550px) {
    @content;
  }
}

// @mixin mediaSmAdditional {
//   @media screen and (max-width: 767px) {
//     @content;
//   }
// }

@mixin mediaSm {
  @media screen and (max-width: 767px) {
    @content;
  }
}


@mixin mediaMd {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin mediaLg {
  @media screen and (min-width: 992px) {
    @content;
  }
}

@mixin mediaXl {
  @media screen and (min-width: 1200px) {
    @content;
  }
}

// Вспомогательные медиа запросы
// @mixin auxiliary {
//   @media screen and (max-width: 991px) {
//     @content;
//   }
// }